body * div, body * ul, body * a {
box-sizing:border-box;
}


html {
	border-top: 10px solid orange;
}

header {
	text-align: center;
padding: 40px 0;
}

#logo {
text-align:center;
text-decoration: none;
font-size: 55px;
color: #333;
border: 1px solid #333;
padding: 15px 25px;
font-family: helvetica neue, arial, sans-serif;
font-weight: 100;
width: 500px;
position: relative;
}

#instafeed {
overflow:hidden;
zoom:1;
width:300px;
max-width:95%;
-webkit-transition:width 1s ease-in-out,margin .25s ease-in-out;
-moz-transition:width 1s ease-in-out,margin .25s ease-in-out;
transition:width 1s ease-in-out,margin .25s ease-in-out;
margin:20px auto;
}

#instafeed a {
float:left;
}

#instafeed a:hover img {
-webkit-transform:scale .8;
transform:scale .8;
}

#instafeed img {
width:100%;
max-width:100%;
}

@media screen and min-width700px{
#instafeed {
width:600px;
}

#instafeed a {
display:block;
width:300px;
padding:5px;
}
}

@media screen and min-width900px{
#instafeed {
width:800px;
}

#instafeed a {
width:200px;
}
}

@media screen and min-width1100px{
#instafeed {
width:1000px;
}
}

@media screen and min-width1300px{
#instafeed {
width:1200px;
}
}

@media only screen and -webkit-min-device-pixel-ratio2{
#logo {
background:transparent url(../images/dark-logo@2x.png) no-repeat 50% 50%;
background-size:50px 50px;
}
}