<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>hodgesdesign net</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width">
		<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
		<!-- build:css(.tmp) styles/main.css -->
		<link rel="stylesheet" href="styles/main.css">
		<!-- endbuild -->
		<!-- build:js scripts/vendor/modernizr.js -->
		<script src="bower_components/modernizr/modernizr.js"></script>
		<!-- endbuild -->
	</head>
	<body>
		<!--[if lt IE 10]>
			<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->

		{{> body }}

		<div class="hero-unit">
	<h1 class="logo">Hodges Design</h1>
	<p>You now have</p>
	<ul>
		<li>HTML5 Boilerplate</li>
		<li>Modernizr</li>
		<li>RequireJS</li>
		<li>Assemble</li>
	</ul>
	Generator created and maintained by <a href="http://twitter.com/jeremie_parker" target="_blank" title="@jeremie_parker" style="text-decoration:none;" class="large inline gapped">@jeremie_parker</a>
	<a href="http://github.com/p-j" target="_blank" title="@p-j" style="text-decoration:none;" class="large inline gapped">p-j</a>
	<a href="mailto:yawa@jeremie-parker.com" title="yawa@jeremie-parker.com" style="text-decoration:none; color:#E54C3B;" class="large inline gapped"></a>
</div>

		<div id="instafeed"></div>

		<!-- build:js scripts/vendor.js -->
		<!-- bower:js -->
		<script src="bower_components/jquery/jquery.js"></script>
		<script src="bower_components/instafeed.js/instafeed.js"></script>
		<!-- endbower -->
		<!-- endbuild -->
		
		
		<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
		<script>
			(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
			function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
			e=o.createElement(i);r=o.getElementsByTagName(i)[0];
			e.src='//www.google-analytics.com/analytics.js';
			r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
			ga('create','UA-XXXXX-X');ga('send','pageview');
		</script>

        <!-- build:js scripts/main.js -->
        <script data-main="scripts/main" src="bower_components/requirejs/require.js"></script>

        <!-- endbuild -->
	<script type="text/javascript">
	    var feed = new Instafeed({
			get: 'user',
			userId: 1073456701,
		    accessToken: '1073456701.841bdb8.4974ede21d644efe81d4e3cd7745f323',
			link: 'true',
			clientId: '841bdb80957f482cbac20d259faa7cac',
			limit: '60'
	    });
	    feed.run();
	</script>
</body>
</html>
